@charset "ISO-8859-1";
/* The Modal (background) */
#updateFormModal {
    z-index: 500;
}
.ui-dialog .ui-dialog-buttonpane{
	float: left;
	direction: rtl;
}
.ui-dialog .ui-dialog-titlebar-close{
	left: 0.3em;
}
.ui-dialog .ui-dialog-title{
	float: right !important;
	text-align: right;
}
.changebodyDirection{
	direction:rtl;
	text-align: right;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 200%; /* Full width */
/*   height: 100%; Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
/* 	  margin: 0; */
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 500px;
  margin: auto;
  max-height: 75%;
  overflow: auto;
/*   height: 40%; */
/*   position: relative; */
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
/*   -webkit-animation-name: animatetop; */
/*   -webkit-animation-duration: 0.4s; */
/*   animation-name: animatetop; */
/*   animation-duration: 0.4s */
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #E9E9E9;
  color: black;
}

.modal-header .close {
    padding: 0rem 0rem !important;
    margin: 0rem 0rem 0rem !important;
}

#modal_heading{
	font-size: 15px;
}
.modal-body {
	padding: 2px 16px;     
	max-height: calc(100vh - 210px) !important;
    overflow-y: auto !important;
}
.modal-body p {border: 1px solid green; font-size: 15px; padding: 5px;}
.modal-footer {
  padding: 2px 16px;
/*   background-color: #5cb85c; */
  color: white;
}

#modal_info_text{
	/* white-space: nowrap; */
    overflow: scroll;
    height: 200px !important;
    /* text-overflow: ellipsis; */
    /* max-width: 75ch; */
}


/* For Relationship_Modal */
#modal_heading1{
	font-size: 15px;
}

#modal_info_text1{
	white-space: nowrap;
    overflow: scroll;
    /* text-overflow: ellipsis; */
    /* max-width: 75ch; */
}
