.canvasjs-chart-credit{
	display:none;
}

#colorInput{

margin-top: 5px;
 } 

*{
	font-family: helvetica, arial, verdana, sans-serif;
}
html,
body {

  padding: 0 !important;
  margin: 0 !important;
  overflow: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 14px;
}
 .bootstrap-tagsinput{ 
     width: 100%; 
     height: 38px; 
     overflow: auto; 
 } 
a.fullTab{
	width:100%;
}
	
.btnsave, #btnedit , .btn-Submit{
	float: right;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}
#home-btn a{
padding:10px;
padding-right:20px;
color:#ffffff !important;
}

.modal-header{
background-color:#0d7e8a;
color:#ffffff; 
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-bottom: -10px;
    background: #121212;
    height: 60px !important;	
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	
	background:#a6c53b;
}
.chartDiv{
	
	background:#121212;
}
.navbar{
	
	background:#212121 !important;
}
.btn{
	background:#a6c53b !important;
}
#tabs{
	background:#212121;
}
.ui-widget-content{
	color:#e3fdff;
}
.ui-widget.ui-widget-content{
	border: 1px solid #212121;
}